
<!doctype html>

<html>
<head>
<title>Smart CV Handling</title>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css" type="text/css" rel="Stylesheet" />
<link href="static/dist/css/bootstrap.css" rel="stylesheet">
<link href="static/starter-template.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Job Hunt</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="../">Home</a></li>
                    <li class="active"><a href="#">About</a></li>
                    <li><a href="../contact">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-9">
                <p class="pull-right visible-xs">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle Nav</button>
                </p>
                <div class="jumbotron">
                    <h3> Job Hunt </h3>
                    <h5> Get the job your CV says you can! </h5>
                    <p> You've spent ages writing the perfect CV and now it's time for the job hunt? So you're going to search for jobs and then read through the descriptions, seeing whether you seem like a match. This could take a while - put the kettle on - there are a lot of jobs. Actually, why not let <strong> Job Hunt </strong> take care of that, you've got better things to do! </p>
                    <p> We take the chance out of the job search - we run through your CV, get the bits the recruiters care about out and find you your perfect jobs. Not happy with what we've suggested? Tell us what we're missing and we'll give you a new set of jobs to look at! Once you've found a job that looks interesting, we'll show you a bunch of similar ones. </p>
                </div>
                <div class="row">
                    <div class="col-6 col-sm-6 col-lg-4 fadein">
                        <h2>Job Hunters</h2>
                        <p> No more searching the job pages, reading description after description only to find the role isn't suitable. Job hunting as it should be.</p>
                    </div><!--/span-->
                    <div class="col-6 col-sm-6 col-lg-4 fadein">
                        <h2>Job Hunters</h2>
                        <p> Find roles that you never would have thought about. Instead of searching for the same old terms, let us take a look through your CV and see your most marketable skills./p>
                    </div><!--/span-->
                    <div class="col-6 col-sm-6 col-lg-4 fadein">
                        <h2>Job Hunters</h2>
                        <p> Improve your CV. Missing valuable skills that would really make you stand out from the crowd? We'll tell you what they are so you can get the jobs that were previously out of reach. </p>
                    </div><!--/span-->
                    <div class="col-6 col-sm-6 col-lg-4 fadein">
                        <h2>Recruiters</h2>
                        <p>Tired of candidates who just don't have the skills required for the role? We'll stop that CV before it ever gets to you, saving you time to focus on the best people for the job.</p>
                    </div><!--/span-->
                    <div class="col-6 col-sm-6 col-lg-4 fadein">
                        <h2>Recruiters</h2>
                        <p>Get better candidates. Our candidates will often have received coaching in the skills necessary to do the roles they're aiming for. We show the candidates the skills they need for the job you're advertising and where to get them.</p>
                    </div><!--/span-->
                    <div class="col-6 col-sm-6 col-lg-4 fadein">
                        <h2>Recruiters</h2>
                        <p>Day on day, we're the fastest growing job site in the world. Be part of something amazing.</p>
                    </div><!--/span-->
                </div><!--/row-->
            </div><!--/span-->

            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                <div class="list-group">
                    <a href="#" class="list-group-item active">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                </div>
            </div><!--/span-->
        </div><!--/row-->

        <hr>

        <footer>
            <p>&copy; Smart CV Handling</p>
        </footer>

    </div><!--/.container-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/dist/js/bootstrap.min.js"></script>
</body>
</html>

